<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Thiago Chagas - Blog</title>
    <link rel="stylesheet" media="screen" href="thiagochagas.com/assets/css/master.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="thiagochagas.com/assets/imagens/favicon.ico">
  </head>
  <body>
    <div id="container"> 
      <header class="group">
        <h1 class="logo"><a href="/">Thiago Chagas - Blog</a></h1>
      </header>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
