<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Thiago Chagas - Blog</title>
    <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imagens/favicon.ico">
  </head>
  <body>
    <div id="container">
      <header class="group">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Thiago Chagas - Blog</a></h1>
        </div>
      </header>
      <div id="content">
        <section id="main" class="group">
          {{ content }}
          {% include disqus.html %}
          <div>
            <a href="/">Página inicial</a>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>